ion-toolbar {
  .icone-voltar {
    font-size: 25px;
    margin-left: 20px;
    position: absolute;
    z-index: 10;
  }

  ion-title {
    text-align: center;
  }
}

ion-row {
  ion-col {
    ion-list{
      border-radius: 5px;
    }

    ion-item {
      --highlight-background: transparent;
    }
  }
}

h1 {
  text-align: center;
  color: #04423c;
}

.icone-adicionar {
  position: fixed;
  right: 20px;
  color: black;
  bottom: 20px;
  font-size: 40px;
}
