<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="6">
      <div class="div-itens">
        <ion-label>CLIENTES ATIVOS</ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="div-itens">
        <ion-label>ENCOMENDAS PENDENTES</ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="div-itens">
        <div class="div-img-produto">
          <img src="../../assets/icon/icone-enconenda.png" />
        </div>
        <ion-label>PRODUTOS</ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="div-itens">
        <div class="div-img-produto">
          <img src="../../assets/icon/icone-enconenda.png" />
        </div>
        <ion-label>EXTRATOS E RELATÓRIOS</ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="div-itens">
        <ion-label>FLUXO DE CAIXA</ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="div-itens">
        <ion-label>EXTRATOS E RELATÓRIOS</ion-label>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
