<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="div-logo">
          <img src="../../../assets/imgs/logo.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-list-header>
      <ion-label>Seja bem vindo!</ion-label>
    </ion-list-header>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-item class="ion-item-login" lines="none"> -->
        <!-- <ion-label class="label-login" position="floating">E-mail</ion-label> -->
        <input type="text" [(ngModel)]="login" placeholder="Email">
        <!-- <ion-input [(ngModel)]="login" name="email"> -->
        <!-- </ion-input> -->
        <!-- </ion-item> -->
      </ion-col>
      <ion-col size="12">
        <!-- <ion-item class="ion-item-login" lines="none"> -->
        <!-- <ion-label class="label-senha" position="floating" (enter)="logar()">Senha</ion-label> -->
        <input type="password" [(ngModel)]="senha" (keydown.enter)="logar()" placeholder="Senha">
        <!-- <ion-input [(ngModel)]="senha" type="password" clearOnEdit="false" name="senha"> -->
        <!-- </ion-input> -->
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
    <ion-row class="row-botoes-login">
      <ion-col size="12">
        <ion-button class="btn-entrar" size="default" (click)="logar()">Fazer login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
