//body {
//  --background: red !important;
 // background: red !important;
//}

ion-router-outlet {
  user-select: none;
}

ion-menu,
ion-menu ion-list,
ion-menu ion-item{
  --background: #AB776C;
}


item-native{
 --background: blue !important;//#CC8C83;
}
